<%= form_for(@photo) do |f| %>
  <% if @photo.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@photo.errors.count, "error") %> prohibited this photo from being saved:</h2>

      <ul>
      <% @photo.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :image_url %><br>
    <%= f.text_field :image_url %>
  </div>
  
  <div class="image field">
	  <%= f.label :image%><br>
	  <%= f.file_field :image%>
  </div>
  <div class="row">
	  <div class="small-7 small-centered columns">
		  <div class="your-class">
		  </div>		  
	  </div>
	  <div class"add-image" data-no-turbolink>
		  <a href="#" class="button radius">Add Image</a>
	  </div>
  </div>
  
  
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>

