<span class="photo-crousel" data-no-turbolink>
	<div class="row">
		<div class="small-7 small-centered columns">
			<span class="photo-frame">
				<div class="large-slick">
					<% if @photos %>
				    <% @photos.each do |photo| %>
							<div id='<%= photo.id %>'>
								<%= image_tag(photo.image(:large)) %>
							</div>
						<% end %>
					<% end %>
				</div>
			</span>
			<span class="tumb-frame">
				<div class="small-slick">
					<% if @photos %>
						<% @photos.each do |photo| %>
							<div id='<%= photo.id %>'>
								<%= image_tag(photo.image(:thumb)) %>
								<%= link_to '', photo, method: :delete, id: "delete-photo", data: { confirm: 'Are you sure?' } %>
							</div>
						<% end %>
					<% end %>
					<div id="new">
						<%= render 'new_form' %> 
					</div>
				</div>
			</span>
		</div>
	</div>
</span>